/* Responsive background image */
@media only screen and (min-width: 600px) {
    body {
      background-image: url("./images/bg-image.jpg");
      background-size: cover; /* Adjusts the background image to cover the entire container */
    background-position: center; /* Centers the background image horizontally and vertically */
  }
    }
  
  /* Centered content */
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  
  /* Button styles */
  button {
    background-color: #11c583e7;
    color: rgb(14, 13, 13);
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    border-radius: 5px;
  }
  
  button:hover {
    opacity: 0.8;
  }
  
  /* Small buttons */
  .small-btns {
    width: 150px;
  }
  
  /* Search input */
  .search-input {
    max-width: 300px;
    margin: 8px 0!important;
  }
  